.header {
  display: flex;
  height: 70px;
  background-color: #000;
  padding: 0 50px;
  align-items: center;
  position: fixed; 
  top: 0;         
  left: 0;         
  width: 100%;     
  z-index: 1000;   
  -webkit-box-shadow:0px 0px 24px 3px rgba(255,255,255,0.33);
  -moz-box-shadow: 0px 0px 24px 3px rgba(255,255,255,0.33);
  box-shadow: 0px 0px 24px 3px rgba(255,255,255,0.33);
}

.logo {
  display: flex;
  margin-top: 10px;
  user-select: none;
}

.header_links {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.list {
  display: flex;
  gap: 50px;
}

.link_style {
  color: #fff;
  user-select: none;
  font-size: 12px;
  font-family: 'Istok Web', sans-serif;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin-top: 5px;
  user-select: none;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}


