.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 100px 0 100px;
    gap: 50px;
}

.first_text {
    flex: 1;
    color: white;
    font-size: 22px;
}

.first_text h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.second_text {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
}

.home_img {
    flex: 1;
    position: relative;
    max-width: 600px;
    height: auto;
    user-select: none;
}

.home_pc_background img {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
    user-select: none;
}

.home_pc img {
    position: relative;
    width: 100%;
    z-index: 1;
    user-select: none;
}

.link_to_down   {
    margin-top: 200px;
    user-select: none;
}

.link_to_down_text  {
    font-size: 12px;
    margin-top: 12px;
}

.partners {
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.partners img {
    width: 80%;
    max-width: 1000px;
}

.about {
    padding: 0 100px;
    margin-top: 100px;
}

.about_title {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.about_title img {
    width: 40px;
    height: 40px;
}

.about_title h1 {
    font-size: 36px;
    color: white;
    font-family: 'Istok Web', sans-serif;
}

.about_content {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.about_text_block {
    flex: 1;
    max-width: 55%;
}

.about_text {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    font-family: 'Istok Web', sans-serif;
    margin-bottom: 20px;
}

.about_last_text {
    font-size: 22px;
    color: white;
    font-style: italic;
    font-family: 'Istok Web', sans-serif;
}

.about_img {
    margin-bottom: 50px;
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
}

.about_img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    user-select: none;
}

.products {
    padding: 0 100px;
    margin-top: 30px;
}

.products_tittle {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.products_tittle img {
    width: 40px;
    height: 40px;
}

.products_tittle h1 {
    font-size: 36px;
    color: white;
    font-family: 'Istok Web', sans-serif;
}


.products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 40px 20px;
	width: 100%;
}

.product-card {
	background: linear-gradient(to right, #121212, #2a2a2a, #2a2a2a, #121212);

	padding: 20px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 520px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.product-image {
	width: 100%;
	height: 260px;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 16px;
	background-color: #2a2a2a;
}

.product-card h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

.product-card p {
	font-size: 14px;
	margin-bottom: 16px;
	line-height: 1.4;
	color: #ccc;
}

.product-buttons {
	display: flex;
    gap: 10px;
	margin-top: auto;
}

.product-buttons button {
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.product-buttons button:first-child {
	background-color: #444;
	color: white;
}

.product-buttons button:last-child {
	background-color: white;
	color: black;
}

.product-buttons button:hover {
	opacity: 0.9;
}

.contacts {
    padding: 0 100px;
    margin-top: 100px;
}

.contacts_title {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.contacts_title img {
    width: 40px;
    height: 40px;
}

.contacts_title h1 {
    font-size: 36px;
    color: white;
    font-family: 'Istok Web', sans-serif;
}

.contacts_content {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contacts_text_block {
    flex: 1;
    max-width: 55%;
}

.contacts_text {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    font-family: 'Istok Web', sans-serif;
    margin-bottom: 20px;
}

.contacts_last_text {
    font-size: 22px;
    color: white;
    font-style: italic;
    font-family: 'Istok Web', sans-serif;
}

.contacts_img {
    margin-bottom: 50px;
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
}

.contacts_img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    user-select: none;
}

.bar {
  display: none; /* по умолчанию скрыт */
}

.email-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: white 2px solid;
}

.email-button:hover {
  background-color: dimgray;
}







